@use "../../../style/abstract/" as *;
.myorder {
    &__search {
        margin: 12px 0;
        position: relative;
        &__btn {
            position: absolute;
            right: 0;
            top: 0;
            width: 110px;
            height: 100%;
            color: $main-color;
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }
    &__none {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 35px;
    }
}